# .env-template
OPENAI_API_KEY="YOUR_OPENAI_API_KEY_HERE"
# Optional parameters, if you don't have them, blank them out or remove them
ASSISTANT_ID="YOUR_ASSISTANT_ID_HERE"
ORGANIZATION="YOUR_ORGANIZATION_HERE"
#### OPTIONAL ####
# The following are optional and can be left blank but will be prompted for if not filled in
AREA_OF_FOCUS="YOUR_AREA_OF_FOCUS_HERE"
OPERATIONAL_OBJECTIVE="YOUR_OPERATIONAL_OBJECTIVE_HERE"
CONSTRAINTS="YOUR_CONSTRAINTS_HERE"
RESTRAINTS="YOUR_RESTRAINTS_HERE"
OPERATIONAL_CONTEXT="YOUR_OPERATIONAL_CONTEXT_HERE"
PSYCHOLOGICAL_OBJECTIVE="YOUR_PO_HERE"
SPO="YOUR_SPO_HERE"

# Instagram credentials
INSTAGRAM_MID="YOUR_INSTAGRAM_MID_HERE"
INSTAGRAM_IG_DID="YOUR_INSTAGRAM_IG_DID_HERE"
INSTAGRAM_CSRFTOKEN="YOUR_INSTAGRAM_CSRFTOKEN_HERE"
INSTAGRAM_DS_USER_ID="YOUR_INSTAGRAM_DS_USER_ID_HERE"
INSTAGRAM_SESSIONID="YOUR_INSTAGRAM_SESSIONID_HERE"

# Reddit credentials
REDDIT_CLIENT_ID="YOUR_REDDIT_CLIENT_ID_HERE"
REDDIT_CLIENT_SECRET="YOUR_REDDIT_CLIENT_SECRET_HERE"
REDDIT_REFRESH_TOKEN="YOUR_REDDIT_REFRESH_TOKEN_HERE"

# Twitter credentials
TWITTER_AUTH_TOKEN="YOUR_TWITTER_AUTH_TOKEN_HERE"
TWITTER_CT0="YOUR_TWITTER_CT0_HERE"

# YouTube OAuth
YOUTUBE_OAUTH="YOUR_YOUTUBE_OAUTH_HERE"

# OIDC credentials
OIDC_DISCOVERY_URL="YOUR_OIDC_DISCOVERY_URL_HERE" #for example authentik https://sso.irregularchat.com discovery URL would be https://sso.irregularchat.com/.well-known/openid-configuration
OIDC_CLIENT_ID="YOUR_OIDC_CLIENT_ID_HERE"
OIDC_CLIENT_SECRET="YOUR_OIDC_CLIENT_SECRET_HERE"
OIDC_ISSUER="YOUR_OIDC_ISSUER_HERE"
OIDC_REDIRECT_URI="YOUR_REDIRECT_URI_HERE" # This is the URL that the user will be redirected to after authentication
