# /researchtools_streamlit/requirements.txt
streamlit==1.42.0
openai
requests
pytest
python-dotenv
xhtml2pdf
yt-dlp
instaloader
praw
tweepy
beautifulsoup4 # for metadata on the wayback tool
manubot # for citation on the wayback tool
openpyxl
# utilities for geo to kml
geopandas
shapely
geopy
pykml
argparse
pandas
psycopg2-binary  # Changed from psycopg2 to psycopg2-binary
streamlit-extras
fpdf
pdfkit
playwright
wikipedia
selenium
chromedriver-binary
python-dateutil
langdetect
webdriver-manager
graphviz # for starbursting diagram
pandoc
python-docx
